@model IEnumerable<Patents.Models.Entities.Meeting>
@{
    ViewBag.Title = "Meetings";
}
<style>
    #cartTable td {
        vertical-align: middle
    }
</style>
<h2 class="text-center">Meetings</h2>
<hr />
<table id="cartTable" class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Inventor</th>
            <th class="text-center">Register</th>
            <th class="text-center">State</th>
            <th class="text-center">Additions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var i in Model)
            {
                var cl = "active";
                if(i.State.Info == "Completed") { cl = "success"; }
                else if(i.State.Info == "Canceled") { cl = "danger"; }
                <tr class="@cl">
                    <td class="text-center">@i.Date</td>
                    <td class="text-center">@i.Inventor.FullName</td>
                    <td class="text-center">@i.Register.FullName</td>
                    <td class="text-center">@i.State.Info</td>
                    <td class="text-center">@i.Additions</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
            </tr>
        }
    </tbody>
</table>
<hr />

@Html.Action("ShowAll", "Meetings")