@model IEnumerable<Patents.Models.Entities.Inventor>
@{
    ViewBag.Title = "InventorsTable";
}
<style>
    #cartTable td {
        vertical-align: middle
    }
</style>
<h2 class="text-center">Inventors</h2>
<hr />
<table id="cartTable" class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">InventorId</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Adress</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var i in Model)
            {
                <tr>
                    <td class="text-center">@i.InventorId</td>
                    <td class="text-center">@i.FullName</td>
                    <td class="text-center">@i.Email</td>
                    <td class="text-center">@i.Adress</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
                <td class="text-center">No data!</td>
            </tr>
        }
    </tbody>
</table>
<hr />

@Html.Action("SearchingForm", "Inventors")