@model Patents.Models.ViewModels.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<hr /> 

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table table-striped" style="width: 30%">
        <tbody>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr>
                <th>
                    @Html.LabelFor(model => model.Name)
                </th>
                <th>
                    @Html.EditorFor(x => x.Name)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Password)
                </th>
                <th>
                    @Html.EditorFor(x => x.Password)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Manager)
                </th>
                <th>
                    @Html.CheckBoxFor(model => model.Manager)
                </th>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary login-button">Log in</button>
    @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-primary login-button" })


}
